body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px solid black;
    border-bottom-style: double;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
    color: black;
    text-align: center;
    padding: auto;
    border-top: 15px solid black;
    border-top-style: double;
}

footer a {
    color: white;
    text-decoration: none;
}

#darkMode {
    border: none;
    cursor: pointer;
}
