/* General styles applicable across the entire site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px solid black;
    border-bottom-style: double;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
    color: black;
    text-align: center;
    padding: auto;
    border-top: 15px solid black;
    border-top-style: double;
}

footer a {
    color: #fff;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#darkMode {
    padding: 10px 20px;
    background-color: #333; 
    color: gold; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#darkMode:hover {
    background-color: #555; 
}

#postsContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post h3 {
    margin-top: 0;
}

.post p {
    margin-top: 10px;
}