/* Regular styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px solid black;
    border-bottom-style: double;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
    color: black;
    text-align: center;
    padding: auto;
    border-top: 15px solid black;
    border-top-style: double;
}

footer a {
    color: white;
    text-decoration: none;
}

#darkMode {
    border: none;
    cursor: pointer;
}

/* Dark mode styling */
.dark-mode {
    background-color: black;
    color: white;
  }

.dark-mode header{
    background-color: black;
    color: gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px solid gray;
    border-bottom-style: double;
  }

.dark-mode footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
    color: gray;
    text-align: center;
    padding: auto;
    border-top: 15px solid gray;
    border-top-style: double;
  }

.dark-mode form button {
    box-sizing: content-box;
    width: 100%;
    max-width: 500 px;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.dark-mode button:hover {
    background-color: gray;
}

.dark-mode #darkMode {
    border: none;
    cursor: pointer;
    background-color: black;
}

.dark-mode .post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.dark-mode .post h3 {
    margin-top: 0;
    border-bottom: 1px solid gray;
}

.dark-mode .post p {
    padding-left: 20px;
    margin-bottom: 0;
    font-style: italic;
}

.dark-mode .post h5 {
    margin-bottom: 0;
    color: gray;
}

.dark-mode input {
    color: white;
    background-color: gray
}

.dark-mode textarea {
    color: white;
    background-color: gray
}